.header {
  margin: 45px auto 0;
  padding: 0 0 37px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  max-width: 880px;
  text-align: left;
}

@media (max-width: 900px) {
  .header {
    max-width: 900px;
  }
}

@media (max-width: 600px) {
  .header {
    max-width: 600px;
    padding-bottom: 26px;
    margin-top: 28px;
  }
}
