.popup__container {
  margin: 0 auto;
  padding: 34px;
  width: 430px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 600px) {
  .popup__container {
    padding: 25px;
    width: 282px;
  }
}
