.profile__add-button {
  width: 150px;
  height: 50px;
  padding: 0;
  background: url(../../../images/plus-add-profile.svg) center no-repeat transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity .1s linear;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 900px) {
  .profile__add-button {
    width: 282px;
    height: 50px;
    background-size: 16px;
    justify-self: center;
  }
}