.profile__button-add {
  padding: 0;
  margin: 0 0 0 auto;
  min-width: 150px;
  min-height: 50px;
  background-image: url(../../../images/plus.svg);
  background-repeat: no-repeat;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 2px;
  background-position: 50%;
  box-sizing: border-box;
}

@media (max-width: 320px) {
  .profile__button-add {
    width: 282px;
    margin: 5px auto 0;
  }
}
