.profile__button-add {
  padding: 0;
  margin: 0 0 0 auto;
  min-width: 150px;
  min-height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  background: rgb(0, 0, 0, 0) url(../../../images/plus.svg) no-repeat 50%;
  box-sizing: border-box;
}

.profile__button-add:hover {
  opacity: 0.6;
}

@media (max-width: 900px) {
  .profile__button-add {
    width: 282px;
    margin: 5px auto 0;
  }
}
