.card__like {
  width: 22px;
  height: 18px;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  border: 0 solid transparent;
  flex-shrink: 0;
}
